body{
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}


.input {
    width: 95%;
    padding: 5px;
    margin-right: 10px;

}


.item {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
    background-color: #000;
    margin-top: 20px;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
    color: aliceblue;
}

.remove{
    background-color: rgb(212, 101, 101);
    margin-top: 20px;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
    color: aliceblue;
}

